:host {
  display: block;
}

.global-loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .global-loader-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: white;

    p {
      font-size: 1.2rem;
      font-weight: 500;
      margin: 0;
    }
  }
}
