:host {
  display: block;
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-block: 0.5rem;
}

.empty-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.table-actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.detail-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.detail-label {
  font-weight: 600;
  color: var(--p-text-color);
  min-width: 140px;
}

.detail-value {
  color: var(--p-text-muted-color);
}

.dialog-footer {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-block-start: 1.5rem;
  padding-top: 1rem;
}

.promote-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .ad-image {
    width: 100px;
    height: 80px;
    object-fit: cover !important;
    object-position: center !important;
    border-radius: 0.5rem;
    border: 1px solid var(--p-zinc-200);
  }
}

.no-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  color: var(--p-text-muted-color);
  font-size: 0.8rem;

  i {
    font-size: 1.3rem;
  }
}

.uploaded-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--p-zinc-200);
  border-radius: 0.5rem;
  padding: 0.15rem 0.5rem;
  margin-block: 0.5rem;

  .uploaded-image {
    width: 100px;
    height: 80px;
    object-fit: cover !important;
    object-position: center !important;
    border-radius: 0.5rem;
  }
}