<header>
  <p-toolbar class="header">
    <ng-template #start>
      <div class="header-action">
        <!-- dark theme btn -->
        <p-button severity="secondary" [icon]="darkModeBtn ? 'pi pi-sun' : 'pi pi-moon'" (onClick)="toggleDarkMode()"
          [pTooltip]="'header.toggleTheme' | translate" tooltipPosition="left" />
        <!-- language toggle -->
        <p-button severity="secondary" [icon]="currentLang === 'en' ? 'pi pi-globe' : 'pi pi-language'"
          (onClick)="toggleLanguage()"
          [label]="currentLang === 'en' ? ('language.ar' | translate) : ('language.en' | translate)"
          [pTooltip]="'header.toggleLanguage' | translate" tooltipPosition="left"></p-button>
        <!-- sidebar hide -->
        <p-button [icon]="hideSideBarBtn ? 'pi pi-bars' : 'pi pi-arrow-down-left-and-arrow-up-right-to-center'"
          severity="secondary" (click)="onToggleHideClick()" [pTooltip]="'header.toggleSidebar' | translate"
          tooltipPosition="left"></p-button>
      </div>
    </ng-template>
    <ng-template #end>
      @if (authService.currentUser(); as user) {
      <div class="user-container">
        <div class="user-info">
          <span class="user-name">{{ user.userName }}</span>
          <span class="user-company">{{ user.companyName }}</span>
        </div>
        <p-avatar [image]="user.profileImage" [label]="!user.profileImage ? user.userName.charAt(0).toUpperCase() : ''"
          size="large" class="user-image"></p-avatar>
        <p-button icon="pi pi-sign-out" severity="secondary" (click)="logout()" pTooltip="Logout"></p-button>
      </div>
      }
    </ng-template>
  </p-toolbar>

  <!-- Logout overlay loader -->
  @if (isLoggingOut) {
  <div class="logout-overlay">
    <div class="logout-spinner">
      <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
      <p>Logging out...</p>
    </div>
  </div>
  }
</header>