:host {
  display: block;
}

.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.menu {
  display: flex;
  align-items: center;
}

.menu p-button+p-button {
  margin-left: 0.5rem;
}
