<header class="layout-header">
  <div class="card">
    <p-toolbar [style]="{ 'padding': '0.5rem 0.5rem 0.5rem 0.5rem' }">
      <ng-template #start>
        <div class="flex items-center gap-2">
          <p-button icon="pi pi-bars" severity="secondary" (click)="onToggleClick()"></p-button>
        </div>
      </ng-template>

      <ng-template #end>
        <div class="flex items-center gap-2">
          <p-button severity="secondary" [icon]="darkModeBtn ? 'pi pi-sun' : 'pi pi-moon'"
            (onClick)="toggleDarkMode()" />
        </div>
      </ng-template>
    </p-toolbar>
  </div>
</header>
