:host {
  display: block;
}

.layout-sidebar {
  width: 250px;
  background: var(--surface-100);
  padding: 1rem 0.5rem;
  border: 1px solid var(--p-toolbar-border-color);
  border-radius: var(--p-toolbar-border-radius);
  margin-block-start: 0.5rem;
  overflow-y: auto;
  transition: all 0.3s ease;
  z-index: 1000;

  &.mobile-hidden {
    transform: translateX(-100%);
  }

  &.hidden {
    width: 0 !important;
    overflow: hidden;
    visibility: hidden;
    transform: translateX(-100%);

  }

}


@media (max-width: 768px) {
  .layout-sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 1000;
    transform: translateX(-100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:not(.mobile-hidden) {
      transform: translateX(0);
    }
  }
}
