:host {
  display: block;
}

.empty-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-block: 0.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.table-actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.25rem;
  margin-block: 0.75rem;
  
  label {
    span {
      color: var(--p-red-700);
    } 
  }
}

.dialog-footer {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-block-start: 1.5rem;
  padding-top: 1rem;
}

.logo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
    
  .logo-image {
    img{
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(288deg) brightness(103%) contrast(101%) !important;
      width: 80px;
      object-fit: contain !important;
      object-position: center !important;
      aspect-ratio: 1 !important;      
    }
    :host-context(.my-app-dark) & {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(288deg) brightness(103%) contrast(101%) !important;
    }
  }
}
.no-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  color: var(--p-text-muted-color);
  font-size: 0.8rem;
  
  i {
    font-size: 1.3rem;
  }
}

.uploaded-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--p-zinc-200);
  border-radius: 0.5rem;
  padding: 0.15rem 0.5rem;
  margin-block: 0.5rem;

 .uploaded-image{
    width: 60px;
    height: 60px;
    object-fit: contain !important;
    object-position: center !important;
    aspect-ratio: 1 !important;
    
    // Apply white filter in dark theme only
    :host-context(.my-app-dark) & {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(288deg) brightness(103%) contrast(101%);
    }
   }
}


