<p-card header="Vehicle Makers">
    <div class="card">
        <div class="action-container">
            <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input type="text" pInputText placeholder="Search vehicle makers..." (input)="onSearch($event)"
                    (keyup)="onSearchKeyup($event)" [value]="searchKeyword" />

            </p-iconfield>
            <p-divider layout="vertical" />
            <p-button (click)="showCreateDialog()" label="Create" icon="pi pi-plus" [disabled]="loading" />
        </div>
        <p-table [value]="vehicleMakers" [scrollable]="true" [paginator]="true" [rows]="rows" [first]="first"
            [totalRecords]="totalRecords" [lazy]="true" showGridlines stripedRows
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            (onPage)="pageChange($event)" [rowsPerPageOptions]="[10, 25, 50]" scrollHeight="600px" [loading]="loading"
            [showCurrentPageReport]="true" paginatorPosition="bottom">

            <ng-template #header>
                <tr>
                    <th style="min-width:120px">Name AR</th>
                    <th style="min-width:120px">Name EN</th>
                    <th style="min-width:120px">Logo</th>
                    <th style="min-width:120px">Actions</th>
                </tr>
            </ng-template>

            <ng-template #body let-vehicleMaker>
                <tr>
                    <td>{{vehicleMaker.nameAr}}</td>
                    <td>{{vehicleMaker.nameEn}}</td>
                    <td>
                        @if (vehicleMaker.logo) {
                        <div class="logo-container">
                            <p-image [src]="vehicleMaker.logo" [alt]="vehicleMaker.nameEn" width="80" [preview]="true"
                                class="logo-image" />
                        </div>
                        } @else {
                        <div class="no-logo-container">
                            <i class="pi pi-image"></i>
                            <span>No Logo</span>
                        </div>
                        }
                    </td>
                    <td>
                        <div class="table-actions">
                            <p-button label="Edit" severity="success" [disabled]="loading"
                                (click)="showEditDialog(vehicleMaker)" />
                            <p-button label="Delete" severity="danger" [disabled]="loading"
                                (click)="confirmDelete($event, vehicleMaker)" />
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">
                        @if (searchKeyword && searchKeyword.trim()) {
                        <div class="empty-container">
                            <i class="pi pi-search"></i>
                            <h4>No vehicle makers found matching <strong>"{{searchKeyword}}"</strong></h4>
                        </div>
                        } @else {
                        <div class="empty-container">
                            <i class="pi pi-info-circle"></i>
                            <h4>No vehicle makers available</h4>
                        </div>
                        }
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-card>

<!-- Create/Edit Dialog -->
<p-dialog [header]="dialogTitle" [modal]="true" [(visible)]="visible" [style]="{ width: '35rem' }" [closable]="!loading"
    [draggable]="false" [resizable]="false">

    <form [formGroup]="vehicleMakerForm" (ngSubmit)="saveVehicleMaker()">
        <div class="input-container">
            <label for="nameAr" class="font-semibold w-24">Name AR <span>*</span></label>
            <input pInputText id="nameAr" formControlName="nameAr" class="flex-auto" autocomplete="off"
                [disabled]="loading" [invalid]="hasError('nameAr')" />

            @if (hasError('nameAr') || vehicleMakerForm.get('nameAr')?.dirty
            || vehicleMakerForm.get('nameAr')?.touched ) {
            <p-message severity="error" size="small" variant="simple">
                {{getErrorMessage('nameAr')}}
            </p-message>
            }
        </div>

        <div class="input-container">
            <label for="nameEn" class="font-semibold w-24">Name EN <span>*</span></label>
            <input pInputText id="nameEn" formControlName="nameEn" class="flex-auto" autocomplete="off"
                [disabled]="loading" [invalid]="hasError('nameEn')" />

            @if (hasError('nameEn') || vehicleMakerForm.get('nameEn')?.dirty
            || vehicleMakerForm.get('nameEn')?.touched ) {
            <p-message severity="error" size="small" variant="simple">
                {{getErrorMessage('nameEn')}}
            </p-message>
            }
        </div>

        <!-- Logo Upload Section -->
        <div class="input-container">
            <p-fileupload mode="basic" name="logo" chooseIcon="pi pi-upload" accept="image/*" maxFileSize="5000000"
                (onSelect)="onImageUpload($event)" [auto]="false" chooseLabel="Upload image"
                [disabled]="loading || isImageUploading" />
            @if (uploadedImageUrl) {
            <div class="uploaded-image-container">
                <img [src]="uploadedImageUrl" class="uploaded-image" />
                <p-button icon="pi pi-times" [text]="true" severity="danger" size="small" (click)="removeImage()"
                    [disabled]="loading" />
            </div>
            }

            @if (isImageUploading) {
            <p-progressSpinner strokeWidth="5" [style]="{ width: '16px', height: '16px'}" />
            }
        </div>

        <div class="dialog-footer">
            <p-button label="Cancel" severity="secondary" type="button" [disabled]="loading" (click)="cancelDialog()" />
            <p-button [label]="isEditMode ? 'Update' : 'Create'" type="submit" [loading]="loading"
                [disabled]="vehicleMakerForm.invalid && submitted" />
        </div>
    </form>
</p-dialog>

<p-toast />
<p-confirmpopup />