<p-card [header]="'notificationsCenter.header' | translate">
  <div class="card">
    <!-- Filters Section -->
    <div class="action-container">
      <!-- Date Range Filter -->
      <p-datepicker [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" showIcon iconDisplay="input"
        [showClear]="true" [placeholder]="'notificationsCenter.dateRangePlaceholder' | translate"
        style="min-width: 300px;" (onSelect)="onDateRangeChange()" (onClear)="onDateRangeChange()"
        [disabled]="loading" />

      <p-divider layout="vertical" />
      <p-button (click)="navigateToSendNotification()" icon="pi pi-send"
        [label]="'notificationsCenter.button.send' | translate" severity="primary" [disabled]="loading" />
    </div>

    <p-table [value]="notifications" [scrollable]="true" [paginator]="true" [rows]="rows" [first]="first"
      [totalRecords]="totalRecords" [lazy]="true" showGridlines stripedRows
      [currentPageReportTemplate]="pageReportTemplate" (onPage)="pageChange($event)" [rowsPerPageOptions]="[10, 25, 50]"
      scrollHeight="600px" [loading]="loading" [showCurrentPageReport]="true" paginatorPosition="bottom">

      <ng-template #header>
        <tr>
          <th style="min-width:200px">{{'notificationsCenter.table.title' | translate}}</th>
          <th style="min-width:250px">{{'notificationsCenter.table.body' | translate}}</th>
          <th style="min-width:120px">{{'notificationsCenter.table.targetAudience' | translate}}</th>
          <th style="min-width:100px">{{'notificationsCenter.table.totalDevices' | translate}}</th>
          <th style="min-width:100px">{{'notificationsCenter.table.successCount' | translate}}</th>
          <th style="min-width:100px">{{'notificationsCenter.table.failureCount' | translate}}</th>
          <th style="min-width:200px">{{'notificationsCenter.table.sentAt' | translate}}</th>
        </tr>
      </ng-template>

      <ng-template #body let-notification>
        <tr>
          <td>{{notification.title}}</td>
          <td>{{notification.body}}</td>
          <td>
            <p-tag [value]="getTargetAudienceDisplayName(notification.targetAudience)"
              [severity]="getTargetAudienceSeverity(notification.targetAudience)" />
          </td>
          <td>{{notification.totalDevices}}</td>
          <td>{{notification.successCount}}</td>
          <td>{{notification.failureCount}}</td>
          <td>{{notification.sentAt | date:'short'}}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">
            <div class="empty-container">
              <i class="pi pi-bell"></i>
              <h4>{{'notificationsCenter.empty.default' | translate}}</h4>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>

<p-toast />