<p-card [header]="'vehicleModels.header' | translate">
    <div class="card">
        <div class="action-container">
            <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input type="text" pInputText [placeholder]="'vehicleModels.searchPlaceholder' | translate"
                    (input)="onSearch($event)" (keyup)="onSearchKeyup($event)" [value]="searchKeyword" />

            </p-iconfield>
            <p-divider layout="vertical" />
            <p-button (click)="showCreateDialog()" [label]="'vehicleModels.button.create' | translate" icon="pi pi-plus"
                [disabled]="loading" />
        </div>
        <p-table [value]="vehicleModels" [scrollable]="true" [paginator]="true" [rows]="rows" [first]="first"
            [totalRecords]="totalRecords" [lazy]="true" showGridlines stripedRows
            [currentPageReportTemplate]="pageReportTemplate" (onPage)="pageChange($event)"
            [rowsPerPageOptions]="[10, 25, 50]" scrollHeight="600px" [loading]="loading" [showCurrentPageReport]="true"
            paginatorPosition="bottom">

            <ng-template #header>
                <tr>
                    <th style="min-width:120px">{{'vehicleModels.table.nameAr' | translate}}</th>
                    <th style="min-width:120px">{{'vehicleModels.table.nameEn' | translate}}</th>
                    <th style="min-width:150px">{{'vehicleModels.table.maker' | translate}}</th>
                    <th style="min-width:120px">{{'vehicleModels.table.actions' | translate}}</th>
                </tr>
            </ng-template>

            <ng-template #body let-vehicleModel>
                <tr>
                    <td>{{vehicleModel.nameAr}}</td>
                    <td>{{vehicleModel.nameEn}}</td>
                    <td>{{vehicleModel.vehicleMaker}}</td>
                    <td>
                        <div class="table-actions">
                            <p-button [label]="'vehicleModels.button.edit' | translate" severity="success"
                                [disabled]="loading" (click)="showEditDialog(vehicleModel)" />
                            <p-button [label]="'vehicleModels.button.delete' | translate" severity="danger"
                                [disabled]="loading" (click)="confirmDelete($event, vehicleModel)" />
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">
                        @if (searchKeyword && searchKeyword.trim()) {
                        <div class="empty-container">
                            <i class="pi pi-search"></i>
                            <h4>{{'vehicleModels.empty.search' | translate:{ keyword: searchKeyword } }}</h4>
                        </div>
                        } @else {
                        <div class="empty-container">
                            <i class="pi pi-info-circle"></i>
                            <h4>{{'vehicleModels.empty.default' | translate}}</h4>
                        </div>
                        }
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-card>

<!-- Create/Edit Dialog -->
<p-dialog [header]="dialogTitle" [modal]="true" [(visible)]="visible" [style]="{ width: '35rem' }" [closable]="!loading"
    [draggable]="false" [resizable]="false">

    <form [formGroup]="vehicleModelForm" (ngSubmit)="saveVehicleModel()">
        <div class="input-container">
            <label for="makerId">{{'vehicleModels.field.maker' | translate}} <span>*</span></label>
            <p-select id="makerId" formControlName="makerId" [options]="vehicleMakers" optionLabel="name"
                optionValue="id" [placeholder]="'vehicleModels.field.makerPlaceholder' | translate" [disabled]="loading"
                [invalid]="hasError('makerId')" />

            @if (hasError('makerId') || vehicleModelForm.get('makerId')?.dirty
            || vehicleModelForm.get('makerId')?.touched ) {
            <p-message severity="error" size="small" variant="simple">
                {{getErrorMessage('makerId')}}
            </p-message>
            }
        </div>
        <div class="input-container">
            <label for="nameAr">{{'vehicleModels.field.nameAr' | translate}} <span>*</span></label>
            <input pInputText id="nameAr" formControlName="nameAr" autocomplete="off" [disabled]="loading"
                [invalid]="hasError('nameAr')" />

            @if (hasError('nameAr') || vehicleModelForm.get('nameAr')?.dirty
            || vehicleModelForm.get('nameAr')?.touched ) {
            <p-message severity="error" size="small" variant="simple">
                {{getErrorMessage('nameAr')}}
            </p-message>
            }
        </div>

        <div class="input-container">
            <label for="nameEn">{{'vehicleModels.field.nameEn' | translate}} <span>*</span></label>
            <input pInputText id="nameEn" formControlName="nameEn" autocomplete="off" [disabled]="loading"
                [invalid]="hasError('nameEn')" />

            @if (hasError('nameEn') || vehicleModelForm.get('nameEn')?.dirty
            || vehicleModelForm.get('nameEn')?.touched ) {
            <p-message severity="error" size="small" variant="simple">
                {{getErrorMessage('nameEn')}}
            </p-message>
            }
        </div>



        <div class="dialog-footer">
            <p-button [label]="'vehicleModels.button.cancel' | translate" severity="secondary" type="button"
                [disabled]="loading" (click)="cancelDialog()" />
            <p-button [label]="(isEditMode ? 'vehicleModels.button.update' : 'vehicleModels.button.create') | translate"
                type="submit" [loading]="loading" [disabled]="vehicleModelForm.invalid && submitted" />
        </div>
    </form>
</p-dialog>

<p-toast />
<p-confirmpopup />