.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-body {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
}

.layout-content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  background: var(--surface-100);
}
