@use './assets/theme/font'as font;

:root {
  --font-family: 'Nunito Sans', sans-serif;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--p-surface-50);
  color: var(--p-surface-700);
  font-family: var(--font-family);
  font-weight: 400;

  &.my-app-dark {
    background-color: var(--p-surface-950);
    color: var(--p-surface-0);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  transition: background-color 0.3s ease,
  color 0.3s ease;

}
